Is there support to use custom LC_COLLATE and LC_CTYPE? 

Hi.

Is there support to use custom LC_COLLATE and LC_CTYPE when specifying databases to be created? 

It seems the docker image you provide don't support this? I guess you use the PostgreSQL Docker Community library as base for your docker image builds? 
E.g this: https://github.com/docker-library/postgres/blob/master/9.6/Dockerfile

I've tried to change the encoding in the manifest like this: 

`...
  patroni:
    initdb:
      encoding: "UTF8"
      locale: "nb_NO.UTF8"
....
`

I managed to build a docker image with support for nb_NO.UTF8 by using the Dockerfile referenced over and adding this:

`        localedef -i en_US -c -f UTF-8 -A /usr/share/locale/locale.alias en_US.UTF-8; \
         localedef -i nb_NO -f UTF-8 nb_NO.UTF-8
`
But for what I know patroni uses it own docker registry. 

So is there a solution for this? 

Let me know I should post this issue in the [patroni](https://github.com/zalando/patroni) or [spilo](https://github.com/zalando/spilo) repo instead of this. 

Br,
Lennart 


Manage to create my own [spilo ](https://github.com/zalando/spilo)container with nb_NO.UTF8 locale support by editing the [Docker.build](https://github.com/zalando/spilo/blob/master/postgres-appliance/Dockerfile.build) file. 

```    ## Make sure we have a en_US.UTF-8 locale available
    && localedef -i en_US -c -f UTF-8 -A /usr/share/locale/locale.alias en_US.UTF-8 \
    && localedef -i nb_NO -f UTF-8 nb_NO.UTF-8 \

    # Add PGDG repositories
    && DISTRIB_CODENAME=$(sed -n 's/DISTRIB_CODENAME=//p' /etc/lsb-release) \
    && echo "deb http://apt.postgresql.org/pub/repos/apt/ ${DISTRIB_CODENAME}-pgdg main" > /etc/apt/sources.list.d/pgdg.list \
    && echo "deb-src http://apt.postgresql.org/pub/repos/apt/ ${DISTRIB_CODENAME}-pgdg main" >> /etc/apt/sources.list.d/pgdg.list \
    && curl -s -o - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add - \

    && apt-get update \
    && apt-get install -y postgresql-common \

    # forbid creation of a main cluster when package is installed
    && sed -ri 's/#(create_main_cluster) .*$/\1 = false/' /etc/postgresql-common/createcluster.conf \

    # Clean up
    && apt-get clean \
    && rm -rf /var/lib/apt/lists/* \
            /var/cache/debconf/* \
            /usr/share/doc \
            /usr/share/man \
            /usr/share/locale/?? \
            /usr/share/locale/??_?? \
    && find /var/log -type f -exec truncate --size 0 {} \; \
    && find /usr/share/i18n/charmaps/ -type f ! -name UTF-8.gz -delete \
    && find /usr/share/i18n/locales/ -type f ! -name en_US ! -name nb_NO -delete \
    && echo 'en_US.UTF-8 UTF-8' > /usr/share/i18n/SUPPORTED \
    && echo 'nb_NO.UTF-8 UTF-8' >> /usr/share/i18n/SUPPORTED```

Build
```./build.sh --build-arg COMPRESS=true -t uibit/spilo:latest .```

Pushed it to our registry at Docker Hub and then referencing to it in the manifest. 

However, initdb ignores my locale settings or is overruled somewhere. 

``` patroni:
    initdb:
      encoding: "UTF8"
      locale: "nb_NO.UTF8"
      data-checksums: "true"
    pg_hba:
    - hostssl all all 0.0.0.0/0 md5
    - host    all all 0.0.0.0/0 md5
    ttl: 30
    loop_wait: &loop_wait 10
    retry_timeout: 10
    maximum_lag_on_failover: 33554432
  # restore a Postgres DB with point-in-time-recovery 
  # with a non-empty timestamp, clone from an S3 bucket using the latest backup before the timestamp
  # with an empty/absent timestamp, clone from an existing alive cluster using pg_basebackup
  # clone:
  #  uid: "efd12e58-5786-11e8-b5a7-06148230260c"
  #  cluster: "acid-batman"
  #  timestamp: "2017-12-19T12:40:33+01:00" # timezone required (offset relative to UTC, see RFC 3339 section 5.6)
  maintenanceWindows:
  - 01:00-06:00 #UTC
  - Sat:00:00-04:00
```

I could create a database manually with no_NB.UTF8 so at least some progress. 
```postgres=# create database test with template = template0 encoding = 'UTF8' LC_COLLATE = 'nb_NO.UTF8' LC_CTYPE = 'nb_NO.UTF8';```

I'd like the option to add parameters to the cluster manifest, e.g.  LC_COLLATE and LC_CTYPE

```apiVersion: "acid.zalan.do/v1"
kind: postgresql

metadata:
  name: pg-test-cluster
  namespace: test
spec:
  teamId: "TEST"
  volume:
    size: 1Gi
  numberOfInstances: 1
  users: #Application/Robot users
    test:
    - login
  enableMasterLoadBalancer: true
  enableReplicaLoadBalancer: false
  allowedSourceRanges: # load balancers' source ranges for both master and replica services
  - 127.0.0.1/32
  databases:
    test: test
#Expert section
  postgresql:
    version: "9.6"
    parameters:
      shared_buffers: "32MB"
      max_connections: "10"
      log_statement: "all"
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      cpu: 300m
      memory: 3000Mi
  patroni:
    initdb:
      encoding: "UTF8"
      l**ocale: "nb_NO.UTF8"**
      data-checksums: "true"
    pg_hba:
    - hostssl all all 0.0.0.0/0 md5
    - host    all all 0.0.0.0/0 md5
    ttl: 30
    loop_wait: &loop_wait 10
    retry_timeout: 10
    maximum_lag_on_failover: 33554432
  # restore a Postgres DB with point-in-time-recovery 
  # with a non-empty timestamp, clone from an S3 bucket using the latest backup before the timestamp
  # with an empty/absent timestamp, clone from an existing alive cluster using pg_basebackup
  # clone:
  #  uid: "efd12e58-5786-11e8-b5a7-06148230260c"
  #  cluster: "acid-batman"
  #  timestamp: "2017-12-19T12:40:33+01:00" # timezone required (offset relative to UTC, see RFC 3339 section 5.6)
  maintenanceWindows:
  - 01:00-06:00 #UTC
  - Sat:00:00-04:00```

Or do I have to hardcode this into the spilo container. Might be the easiest way if there currently in no other option. 

@caleno I think what happens here is that initdb is not ignored in the operator, and the operator generates the SPILO_CONFIGURATION environment variable with the correct value (see your statefulset definition for the cluster created by the operator) for `bootstrap:initdb:locale`; however, Spilo sets it by default to `en_US.UTF-8` (https://github.com/zalando/spilo/blob/9b44a5d03074a343e1d3c5b35c79c2a4d85c7e2d/postgres-appliance/scripts/configure_spilo.py#L175),  and when merging SPILO_CONFIGURATION with the default one, it appends the default initdb options to the list of custom ones, obtained from the SPILO_CONFIGURATION (initdb options is a list, since some of those doesn't have any values, i.e. --`data-checksums`). Patroni happily processes this list and puts to --locale options, and the last one (with en_US.UTF-8) wins.

So there are a few things we could do better here:
- provide a separate locale and encoding variables to Spilo, allowing to override the default settings.
- Emit a warning in Patroni on multiple initdb options with the same name.
- Possibly change the way we merge lists in Spilo the initdb case (instead of appending options, we first need to de-duplicate them).






So cool to ask for Norwegion locale :) 🇳🇴 

Thanks for your reply @alexeyklyukin. I'll get back to this case later on when I got some more time on my hands. But one thing that would be great regarding any locale support would be something like this.

```  databases:
    test: test
      locale: 
        lc_collate: "nb_NO.UTF8"
        lc_ctype: "nb_NO.UTF8"
#Expert section
  postgresql:```

I don't want to make a big issue out of this, see it as a feature, nice to have, request ;) 

Is there any update about this issue?
I really hope to customize `LC_COLLATE` in postgres-operator.